<ion-slides>
  <ion-slide>
    <ion-card>
      <div ><img src="../../assets/img/ab67616d00001e021630dd349221a35ce03a0ccf.jfif" alt=""></div>
      <ion-card-subtitle>Quevedo</ion-card-subtitle>
      
    </ion-card>
    
    <ion-card>
      <div > <img src="../../assets/img/ab67616d00001e0245d19551956f53b12be0975d.jfif" alt=""></div>
      <ion-card-subtitle>VdVerso</ion-card-subtitle>
    
  </ion-card>

  <ion-card  class="ion-hide-md-down">
    <div> <img src="../../assets/img/ab67616d00001e0245d19551956f53b12be0975d.jfif" alt=""> </div>
    <ion-card-subtitle>Bsabbat</ion-card-subtitle>
    
  </ion-card>
  
  
  
  </ion-slide>


  <ion-slide>
    <ion-card>
      <div ><img src="../../assets/img/ab67616d0000b2736ca5c90113b30c3c43ffb8f4.jfif" alt=""></div>
      <ion-card-subtitle>Eminem</ion-card-subtitle>
      
    </ion-card>
    
    <ion-card>
      <div > <img src="../../assets/img/ab67616d0000b273b4070df60fced11f282548d0.jfif" alt=""></div>
      <ion-card-subtitle>DonOmar</ion-card-subtitle>
    
  </ion-card>

 

  
  </ion-slide>


  





</ion-slides>
