<ion-card class="ion-hide-md-up">
  <ion-grid>
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="titulo">
              <h3>Datos adicionales</h3>
            </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="idiomas">
              <ion-icon name="flag-outline"></ion-icon>
              <p>Inglés nivel B2</p>
            </div>
        </ion-col>
      </ion-row>
      <hr id="linea">
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="coche">
              <ion-icon name="car-outline"></ion-icon>           
              <p>Permiso de conducir</p>
            </div>
        </ion-col>
      </ion-row>
      <hr id="linea">
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="baloncesto">
              <ion-icon name="basketball-outline"></ion-icon>  
              <div id="texto2">         
              <p>Curso de entrenador  </p>
              <p>de baloncesto nivel 1</p>
            </div>
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>