
#entrada{
    width: 95%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.header-md::after{
    content: none;
}

.header-ios::after{
    content: none;
}

ion-content{
   

    --background: rgb(2,0,36);
  --background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(7,7,99,1) 0%,  rgba(0,0,0,1) 100%);
    
   
 
 
 
  
  
 
 
 
 
  
    }
    
    .no-scroll {
     --overflow: hidden;
 }
 ion-slide{


    width: 20rem;
    height: 14rem;
  


}

ion-slides{
    height: 15rem;
     
}

ion-title{
    color: aliceblue;
}

