<ion-header >
  <app-spoty1></app-spoty1>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content fullscreen="true"class="no-scroll">
      
    

       
        <ion-title >Sumergete de nuevo en <br  class="ion-hide-md-up">
          tu musica</ion-title>
        
          
      
    

      <ion-slides>
        <ion-slide>
          
         <app-spoty2></app-spoty2>
         
         <app-spoty4></app-spoty4>
         <app-spoty5></app-spoty5>
         

        
        </ion-slide>
        
        

        
      




    </ion-slides>
    <ion-title >Tus Artistas Favoritos</ion-title>



    <app-spoty3></app-spoty3>
 
     
    


  </ion-content>

</ion-content>
