<ion-card color="transparent">
  <ion-grid id="lista" >
      <ion-row size="12">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-slides>
          <ion-slide>
            <app-foto></app-foto>
          </ion-slide>
            <ion-slide>
              <app-foto></app-foto>
            </ion-slide>
          <ion-slide>
            <app-foto></app-foto>
          </ion-slide>
          <ion-slide>
            <app-foto></app-foto>
          </ion-slide>
          <ion-slide>
            <app-foto></app-foto>
          </ion-slide>
          <ion-slide>
            <app-foto></app-foto>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
