<ion-card class="ion-hide-md-up">
  <ion-grid>
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="titulo">
              <h3>Datos personales</h3>
            </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="correo">
              <ion-icon name="mail-outline"></ion-icon>
              <p>aitor.lopez@campusfp.es</p>
            </div>
        </ion-col>
      </ion-row>
      <hr id="linea">
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="telefono">
              <ion-icon name="call-outline"></ion-icon>           
              <p>91 686 07 54</p>
            </div>
        </ion-col>
      </ion-row>
      <hr id="linea">
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="movil">
              <ion-icon name="logo-whatsapp"></ion-icon>
              <p>+34 644 25 46 28</p>
            </div>
        </ion-col>
      </ion-row>
      <hr id="linea">
      <ion-row size="12">
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
            <div id="direccion">
              <ion-icon name="home-outline"></ion-icon>            
              <p>Avenida de Francia Nº13 </p>
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-card>
