<ion-list>
  <ion-item>
    <img src="https://i.ytimg.com/vi/VIDEO_ID/mqdefault.jpg">
    <h2>Título del video</h2>
    <p>Nombre del canal • 2M vistas • hace 2 días</p>
  </ion-item>
  <!-- Agregar más videos aquí -->
</ion-list>

<ion-list>
  <ion-item>
    <img src="https://i.ytimg.com/vi/VIDEO_ID/mqdefault.jpg">
    <h2>Título del video</h2>
    <p>Nombre del canal • 2M vistas • hace 2 días</p>
  </ion-item>
  <!-- Agregar más videos aquí -->
</ion-list>

<ion-list>
  <ion-item>
    <img src="https://i.ytimg.com/vi/VIDEO_ID/mqdefault.jpg">
    <h2>Título del video</h2>
    <p>Nombre del canal • 2M vistas • hace 2 días</p>
  </ion-item>
  <!-- Agregar más videos aquí -->
</ion-list>

<ion-list>
  <ion-item>
    <img src="https://i.ytimg.com/vi/VIDEO_ID/mqdefault.jpg">
    <h2>Título del video</h2>
    <p>Nombre del canal • 2M vistas • hace 2 días</p>
  </ion-item>
  <!-- Agregar más videos aquí -->
</ion-list>